{
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "ecmaFeatures": { }
    },
    "extends": [
        "eslint:recommended",
        "eslint-config-prettier"
    ],
    "rules": {},
    "env": {
        "browser": true,
        "es6": true
    }
}
