<html>
  <header>
    <link rel=stylesheet href="/popup/popup.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </header>
  <body>
    <h1> <%= htmlWebpackPlugin.options.myPageHeader %> </h1>

    <div class="action-panel">
      <form action="" id="create-cart-form" style="display: none;">
        <label for="productId">First name:</label>
        <input type="text" name="productId" class="product-id" /><br>
        <button id="action-create-primary-cart" type="submit">Create Cart</button>
      </form>
      <div id="additional-actions" style="display: none;">
        <div id="response-json" class="json-container"></div>
      </div>
    </div>
  </body>
</html>
